[user]
  email = 35427332+atreyasha@users.noreply.github.com
  name = Atreya Shankar
  signingkey = 5330BD3D1107E5A6
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = true
[commit]
  gpgsign = true
[credential]
  helper = cache
