[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "zsh/.zsh/plugins/zsh-system-clipboard"]
	path = zsh/.zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard.git
[submodule "i3/.config/i3/i3blocks-contrib"]
	path = i3/.config/i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
